/*******************************************
 * Menu
 *******************************************/
p#grhTitulo{
    font-size: 25px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#versao{
    font-size: 11px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#ip{
    font-size: 11px;
    text-align: right;
    color: #02548b;
}

p#usuarioLogado{
    font-size: 11px;
    text-align: left;
    color: #02548b;
}

div#RelServidor{
    display :none;
}

img#foto{
    display: block;
    position:relative;
    left:50%;
    top:40%;
    transform: translate(-50%, -50%);
}


/*******************************************
 * Check up
 *******************************************/

a#checkupResumo3{
    font-size: 11px;
    text-align: left;
    color: #02548b;
    margin: 0px;
}

a#checkupResumo2{
    font-size: 11px;
    text-align: left;
    color: #cc3300;
    margin: 0px;
}

a#checkupResumo1{
    font-size: 11px;
    text-align: left;
    color: #ffffff;
    background: #ff0000;
    margin: 0px;
}

ul.checkupResumo li{ 
    padding: 0px 0px 0px 0px;    
    text-align: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

p#exibeOcorrencia{
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 14px;
     margin: 0px;
}

/*******************************************
 * Cadastro de Publicação de Licenças Prêmio de um servidor
 *******************************************/

div#divQuadroLicenca{
    position: fixed;
    top: 2px;
    left: 61%;
    width: 200px;   
}

div#divNumProcessoPremio{
    position: fixed;
    top: 45px;
    left: 23%;
}

/*******************************************
 * Rotina que lista dados do servidor
 *******************************************/
tr#listaDados{
    background-color: #D7D7D7;
}

/*******************************************
 * Cadastro de Lotação e de Plano de cargos
 *******************************************/
tr#inativo td{
    background-color: #ffcccc;
}

/*******************************************
 * Aniversariante do dia
 *******************************************/
tr#aniversariante td{
    background-color: #99ccff;
}

p#aniversariante{
    font-size: 14px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
    padding: 0;
    margin: 0px;
}

a#linkAniversariante{
    font-size: 14px;
    color: #02548b;
}

div#divAniversariante{
    text-align: right;
}

/*******************************************
 * Cadastro de Afastamento e Folgas Tre
 *******************************************/

div#divAfastamentoTre{
    position: absolute;
    top: 1%;
    left: 62%;
    width: 180px;
}
table#tabelaTre td{
    font-size: 12px;
    padding: 2px;
}

tr#trePendente{
    background-color: #FFA07A;
    margin: 0px;
}

/*******************************************
 * Cadastro de Cargo Em comissão dos servidores
 *******************************************/ 
 
tr#comissaoSemVagas{
     background-color:#6699ff;
}

tr#comissaoComVagas{
    background-color:#66ff66;
}

tr#comissaoVagasNegativas{
    background-color:#ff6666;
}

/*******************************************
 * Cadastro de Tempo de Servico
 *******************************************/ 

tr#totalTempo{
     background-color:#99ccff;
}

tr#ocorrencia{
     color:#ff0000;
}

tr#diasSobrando{
     background-color:#8FBC8F;
}

tr#diasFaltando{
     background-color:#FFA07A;
}

/*******************************************
 * Div Sobre
 *******************************************/

div#divSobre{
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
}

p#grhAutor{
    font-size: 14px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
}

p#grhSetor{
    font-size: 16px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
}

/*******************************************
 * Div Gráficos
 *******************************************/

div#divGrafico{
    display: none;
    position: absolute;
    border: #000000 solid 1px;
    top: 20%;
    left: 30%;
    width: 40%;
}

/*******************************************
 * Histórico de cargos em Comissão
 *******************************************/
tr#vigente{
    background-color:#8FBC8F;
}

/*******************************************
 * Área de Férias
 *******************************************/
tr#problemas{
    background-color:#ffdcc3;
}

tr#faltando{
    background-color:#cccccc;
}

tr#certo{
    background-color:#99ccff;
}

/*******************************************
 * Estatística
 *******************************************/

p#estatisticaNumero{
    font-size: 50px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#estatisticaTexto{
    font-size: 14px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

/*******************************************
 * Publicação de Licença Prêmio
 *******************************************/

tr#alerta{
    background-color:#ffdcc3;
}

/*******************************************
 * Área de Licença Premio
 *******************************************/

span#negativo{
    color: #ff0000;
}

/*******************************************
 * Método Pessoa->get_lotacao
 *******************************************/

span#orgaoCedido{
    color: #0000cc
}

/*******************************************
 * Controle do Balcao
 *******************************************/
tr#feriado{
    background-color: #b9b9b9;
}

tr#hoje{
    background-color: #99ccff;
}

td#ausente{
    background-color: #ffdcc3;
}

td#sematendimento{
    background-color: #b9b9b9;
}

/*******************************************
 * Relatórios
 *******************************************/

/*******************************************
 * Relatório AIM
 *******************************************/
p#aim{
    font-size: 12px;
 }
 
 /*******************************************
 * Ficha Cadastral
 *******************************************/
 
 div#tituloFichaCadastral{
     background-color: #e6e6e6;
     font-weight: normal;
     font-size: 12px;
     text-align: left;
     margin-top: 10px;
     padding: 4px 2px 2px 10px;
}

/*******************************************
 * Ato de Nomeacao
 *******************************************/
 
p#preambulo{
     text-align: justify;
     margin-left: 10em;
}

p#principal{
     text-align: justify;
     text-indent: 10em;
}

p#reitor{
     text-align: center;
}

p#rodape{
     text-align: center;
     padding: 0px;
     margin: 0px;
     font-size: 10px;
}

p#termodePosse{
     text-align: justify;
     padding-left: 80px;
     padding-right: 80px;
     margin: 0px;
     font-size: 16px;
}

 
 /*******************************************
 * CI Diária
 *******************************************/
 
 p#pDiaria{
     text-align: justify;
     font-size: 14px;
 }
 
 p#pDiariaData{
     text-align: right;
     font-size: 14px;
 }
 
 table#tableDiaria td{
     border:#000000 solid 1px;
     border-collapse:collapse;
     text-align: left;
 }
 
 table#tableDiaria th {
     border:#000000 solid 1px;
     font-size: 16px;
     text-align: center;
     border-collapse:collapse;
 }
 
 p#pDiariaAssinatura{
     text-align: center;
     font-size: 14px;
 }
 
 /*******************************************
 * Folha de Presença
 *******************************************/
 
 table#tableFolhaPresenca {
     border: 1px solid black;
     color: #000000;
     border-collapse:collapse;
     width: 100%;
 }
 
 table#tableFolhaPresenca th{
     color: #000000;
     font-size: 14px;
     text-align: center;
     border: 2px solid black;
     height: 20px;
 }
 
 table#tableFolhaPresenca td{
     color: #000000;
     font-size: 12px;
     text-align: center;
     border: 2px solid black;
     height: 20px;
 }
 
 table#tableFolhaPresenca2 td{
     color: #000000;
     font-size: 12px;
     text-align: center;
     height: 20px;
 }
 
 p#pFolhaPresencaRodape{
     color: #000000;
     text-align: left;
     font-size: 10px;     
  }
  
  /*******************************************
 * Ficha de avaliação Funcional
 *******************************************/
  
  p#fichaAvaliacaoLabel{
     font-size: 11px;
     padding: 2px;
     margin: 0px;
  }
  
  p#fichaAvaliacaoCampo{
     font-size: 14px;
     padding: 2px;
     margin: 0px;
  }
  
  table#faf1{
      width: 100%;
      border: 2px solid black;
 }
 
 table#faf2{
      width: 100%;
      border: 2px solid black;
 }
  
  table#faf1 th{
     text-align: center;
     border: 2px solid black;
     font-size: 12px;
 }
 
 table#faf1 td{
     text-align: left;
     border: 2px solid black;
     font-size: 12px;
 }
 
 table#faf2 td{
     text-align: center;
     border: 2px solid black;
     font-size: 12px;
 }
 
