/*******************************************
 * Menu
 *******************************************/
p#grhTitulo{
    font-size: 25px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#versao{
    font-size: 11px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#ip{
    font-size: 11px;
    text-align: right;
    color: #02548b;
}

p#pauthor{
    font-size: 11px;
    text-align: right;
    color: #02548b;
}

p#usuarioLogado{
    font-size: 11px;
    text-align: left;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#idServidor{
    font-size: 9px;
    text-align: left;
    color: #02548b;
    padding: 0px;
    margin: 0px;
    float: right;
}

div#RelServidor{
    display :none;
}

a#alteraFoto{
    font-size: 12px;
    text-align: center;
    color: #02548b;
    margin: 0px;
    width: 100;
}

p#palertaServidor{
    font-size: 13px;
    font-weight: bold;
    padding: 1px;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
}

img#perfil{
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 20% 20% 20% 20%;
    cursor:pointer;
}

div#menuPerfil{
    position: absolute;
    top: 70px;
    right: 30px;
}

p#puser{
    font-size: 10px;
    padding: 1px;
    margin: 0px;
    text-align: left;
}

p#idServidor2{
    font-size: 9px;
    text-align: left;
    color: #02548b;
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
    float: right;
}

/*******************************************
 * Check up
 *******************************************/

a#checkupResumo1{
    font-size: 12px;
    text-align: left;
    color: #af4747;
    margin-left: 15px;
    font-weight: bold;
}

a#checkupResumo{
    font-size: 14px;
    text-align: left;
    color:#02548b;
    margin-left: 15px;
}

ul.checkupResumo li{
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

p#exibeOcorrencia{
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 12px;
    margin: 0px;
}

p#checkCategoria{ 
    padding: 5px 0px 5px 0px;
    text-align: left;
    font-size: 14px;
    margin: 0px;
}

hr#alerta{
    padding: 0px;
    margin: 5px;
}

ul.menuVinculos li{ 
    padding: 0px 0px 0px 0px;    
    text-align: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

ul.menuVinculos a { 
    text-decoration:none;
    color: #02548b;
}

/*******************************************
 * Cadastro de Publicação de Licenças Prêmio de um servidor
 *******************************************/

div#divQuadroLicenca{
    position: fixed;
    top: 2px;
    left: 61%;
    width: 200px;
}

div#divNumProcessoPremio{
    position: fixed;
    top: 45px;
    left: 23%;
}

/*******************************************
 * Rotina que lista dados do servidor
 *******************************************/
tr#listaDados{
    background-color: #D7D7D7;
}

/*******************************************
 * Cadastro de Lotação e de Plano de cargos
 *******************************************/
tr#inativo td{
    background-color: #ffcccc;
}

/*******************************************
 * Cadastro de Progressão e Enquadramento de Servidor
 *******************************************/
tr#importado{
    background-color: #ffcccc;
}

p#pprogressao1{
    padding: 0px;
    margin: 0px;
}

p#pprogressao2{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}
/*******************************************
 * Área de Progressão e Enquadramento
 *******************************************/

tr#tanofim td{
    background-color: #cccccc;
}

tr#podeProgredir td{
    background-color: #8FBC8F;
}

tr#naoEstaUltimo td{
    background-color: #99ccff;
}

tr#planoErrado td{
    background-color: #e89f9f;
}

/*******************************************
 * Aniversariante do dia
 *******************************************/
tr#aniversariante td{
    background-color: #99ccff;
}

p#aniversariante{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

a#linkAniversariante{
    font-size: 14px;
    color: #02548b;
}

div#divAniversariante{
    text-align: right;
}

div#divAniversariante a{
    font-size: 12px;
}

/*******************************************
 * Cadastro de Afastamento e Folgas Tre
 *******************************************/

div#divAfastamentoTre{
    position: absolute;
    top: 1%;
    left: 62%;
    width: 180px;
}
table#tabelaTre td{
    font-size: 12px;
    padding: 2px;
}

tr#trePendente{
    background-color: #FFA07A;
    margin: 0px;
}

/*******************************************
 * Cadastro de Cargo Em comissão dos servidores
 *******************************************/

tr#comissaoSemVagas{
    background-color:#cccccc;
}

tr#comissaoComVagas{
    background-color:#96ac96;
}

tr#comissaoVagasNegativas{
    background-color:#cea4a8;
}

p#vagaCentro{
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#vagaCargo{
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#vagaIdLabel{
    font-size: 11px;    
    padding: 0px;
    margin: 0px;
    text-align: left;
}

p#vagaId{
    font-size: 48px;    
    padding: 0px;
    margin: 0px;
    color:#02548b;
    text-align: center;
}

p#vagaOrigem{
    font-size: 10px;
    text-align: center;
    padding: 15px 0px 0px;
    margin: 0px;
}

a#editarVaga{
    position: absolute;
}

p#pdadosComissao{
    font-size: 12px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

div#divEditaNota{
    float: right;
    padding: 0px;
    margin: 0px;
}
/*******************************************
 * Cadastro de Tempo de Servico
 *******************************************/

tr#totalTempo{
    background-color:#99ccff;
}

tr#ocorrencia{
    color:#ff0000;
}

tr#diasSobrando{
    background-color:#8FBC8F;
}

tr#diasFaltando{
    background-color:#FFA07A;
}

/*******************************************
 * Div Sobre
 *******************************************/

div#divSobre{
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
}

p#grhAutor{
    font-size: 14px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
}

p#grhSetor{
    font-size: 16px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
}

/*******************************************
 * Div Gráficos
 *******************************************/

div#divGrafico{
    display: none;
    position: absolute;
    border: #000000 solid 1px;
    top: 20%;
    left: 30%;
    width: 40%;
}

/*******************************************
 * Histórico de cargos em Comissão
 *******************************************/
tr#vigente{
    background-color:#8FBC8F;
}

/*******************************************
 * Área de Férias
 *******************************************/
tr#problemas{
    background-color:#ffdcc3;
}

tr#faltando{
    background-color:#cccccc;
}

tr#certo{
    background-color:#99ccff;
}

/*******************************************
 * Área de Aposentadoria
 *******************************************/
tr#pode{
    background-color:#8FBC8F;
}

tr#naoPode{
    background-color:#cccccc;
}

div#divRegrasAposentadoria{
    display: none;
}

div#divTempoServicoAposentadoria{
    display: none;
}
/*******************************************
 * Estatística
 *******************************************/

p#estatisticaNumero{
    font-size: 50px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#estatisticaTexto{
    font-size: 14px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}


tr#estatisticaTotal{
    background-color: #02548b;
    color: #fff;
}

/*******************************************
 * Publicação de Licença Prêmio
 *******************************************/

tr#alerta{
    background-color:#ffdcc3;
}

div#divEdita1{
    position: relative;
    float: right;
    left: -40px;
    bottom: -20px;
}

div#divEdita2{
    position: absolute;
    bottom: 0;
}

/*******************************************
 * Área de Licença Premio
 *******************************************/

span#negativo{
    color: #ff0000;
}

a#licencaPremio{
    font-size: 16px;
    text-align: left;
    color: #02548b;
    margin: 0px;
    font-weight:bold;
}

p#labelOcorrencias{
    font-size: 9px;
    text-align: left;
    padding: 0px;
    margin: -10px;
    margin-bottom: 0;
}

/*******************************************
 * Método Pessoa->get_lotacao
 *******************************************/

span#orgaoCedido{
    color: #0000cc;
    font-size: 11px;
    cursor:pointer;
}

/*******************************************
 * Controle do Balcao
 *******************************************/
tr#feriado{
    background-color: #b9b9b9;
}

tr#hoje{
    background-color: #99ccff;
}

td#ausente{
    background-color: #ffdcc3;
}

td#sematendimento{
    background-color: #b9b9b9;
}

/*******************************************
 * Controle de solicitação de redução de Carga horária
 *******************************************/

a#editaProcesso{
    font-size: 12px;
    color: #8a8a8a;
}

div#divEditaProcesso{
    float: right;
    margin-top: -15px;
    margin-right: -5px;
}

tr#arquivado{
    background-color:#e6e6e6;
}

tr#vigenteReducao{
    background-color:#bbd0de;
}

tr#emAberto{
    background-color:#cdf3d3;
}

tr#aguardando{
    background-color:khaki;
}

p#processoAntigoReducao{
    text-align: center;
    font-size: 12px;
    color: #af4747;
}

/*******************************************
 * Cessao de Servidor
 *******************************************/
tr#cessaoVigente{
    background-color:#8FBC8F;
}

tr#cessaoTerminada{
    background-color:#e6e6e6;
}

/*******************************************
 * Frequencia do servidor
 *******************************************/
tr#frequencia{
    background-color:#ccc;
}

tr#naoFrequencia{
    background-color:#b9b9b9;
}

/*******************************************
 * Cadastro de Cargo Efetivo
 *******************************************/

a#aServidorTipoCargo{
    float: right;
    margin: 0px;
}

/*******************************************
 * Cadastro de Plano de Cargos
 *******************************************/

p#planoDatas {
    font-size: 11px;
    margin: 0;
    padding-bottom: 3px;
    text-align: center;
}

p#planoTitulo {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
}

tr#tipo1{
    background-color:#cccccc;
}

tr#tipo2{
    background-color:#e6e6e6;
}

a#aLinkTabela{
    color: #000000;
}

div#menuSuspenso{
    display: none;
    position: absolute;
    top: 50px;
    height: 100%;
    background-color: #f9f9f9;
    border:#f0f0f0 thin solid;
}

p#ptabelaSalarial{
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/*******************************************
 * Área de Vagas de Docentes
 ******************************************/

p#vagasAtivo {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight:bold;
    color: green;
}

p#vagasInativo {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight:bold;
    color: red;
}

span#verde{
    color: green;
    font-weight:bold;
}

span#vermelho{
    color: red;
    font-weight:bold;
}

tr#totalVagas{
    background-color: #a1b1ae;
}

/*******************************************
 * Manual de Procedimentos
 *******************************************/

p#procedimentoPai{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

p#procedimentoTitulo{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p#procedimentoDescricao{
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

hr#procedimento{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div#divNota ul,li{
    font-size: 12px;
}

div#divNota ul{
    font-size: 12px;
    padding-top: 3px;
}

div#divNota h1{
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 3px;
}

div#divNota h2{
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 3px;
}

div#divNota h3{
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 3px;
}

div#divNota {
    font-size: 12px;
}

div#editarProcedimento{
    position: relative;
    float: right;
}

/*******************************************
 * Cadastro de Licença Sem Vencimentos
 *******************************************/

p#plsvPassou{
    padding: 0px;
    margin: 10px 0px 10px 0px;
    font-size: 11px;
    color: #cc3300;
}

div#divRegrasLsv{
    display: none;
}

/*******************************************
 * Atualização
 *******************************************/

pre, code{
    max-height: 750px;
    color: #000;
    background: #fff;
    font-size: 14px;

    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-wrap;

    padding: 1em;
    margin: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
}

p#patualizacaoR{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: right;
}

p#patualizacaoL{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: left;
}

/*******************************************
 * Classe Licença
 *******************************************/

p#pTipoLicenca{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

p#pLeiLicenca{
    padding: 0px;
    margin: 0px;
    font-size: 12px;    
    color:#076cba;
}

/*******************************************
 * Classes Rpa, RpaInss, RpaIr
 *******************************************/

p#pvalor{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

p#paliquota{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    color:#076cba;
}

/*******************************************
 * Relatórios
 *******************************************/

/*******************************************
 * Relatório AIM
 *******************************************/
p#aim{
    font-size: 12px;
}

/*******************************************
* Ficha Cadastral
*******************************************/

div#tituloFichaCadastral{
    background-color: #e6e6e6;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    padding: 4px 2px 2px 10px;
}

p#pFichaCadastralMensagem{
    text-align: left;
    font-size: 12px;
    color: #000;
    padding: 0px;
    margin: 0px;
}

p#pFichaCadastralProcessoPremio{ 
    text-align: center;
    font-size: 12px;
    color: #000;
    padding: 2px;
    margin: 0px;
}

/*******************************************
 * Ato de Nomeacao
 *******************************************/

p#preambulo{
    text-align: justify;
    margin-left: 10em;
}

p#principal{
    text-align: justify;
    text-indent: 10em;
}

p#reitor{
    text-align: center;
}

p#rodape{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

p#termodePosse{
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0px;
    font-size: 16px;
}

/*******************************************
 * Ato do Reitor
 *******************************************/

p#pAto{
    text-align: justify;
    font-size: 16px;
    line-height: 2.0;
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p#pAtoData{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

p#pAtoAssinatura{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

p#pAtoTitulo{
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************************
 * Declaração
 *******************************************/

p#pDeclaracaoTitulo{
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

p#pDeclaracaoData{
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/*******************************************
 * RPA
 *******************************************/

p#pRpaTitulo{
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    margin: 1%;
}

div#divRpaTituloRecibo{
    margin: 1%;
    float: left;
    width: 70%;
    position: relative;
}

div#divRpaNumeroRecibo{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 20%;    
}

div#divRpaNomeUniversidade{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 50%;    
}

div#divRpaCnpjUniversidade{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 23%;    
}

div#divRpaTexto{
    margin: 1%;
    float: left;
    position: relative;
    width: 98%;    
}

div#divRpaDadosContribuinte{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 48%;    
}

div#divRpaValores{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 30%;
}

div#divRpaDemonstrativo{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 48%;    
}

div#divRpaDemonstrativo{
    border: 1px solid #000;
    margin: 1%;
    float: left;
    position: relative;
    width: 48%;    
}

div#divRpaAssinatura{
    margin: 1%;
    float: left;
    position: relative;
    width: 48%;    
}

hr#rpa{
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
}

hr#picote{
    padding: 0px;
    margin: 0px;
    border: 1px #000000 dashed;
}

p#pRpaLabel{
    text-align: center;
    font-size: 10px;
    padding: 3px;
    margin: 0px;
}

p#pRpaNumero{
    text-align: center;
    font-size: 16px;
    padding: 3px;
    margin: 0px;
}

p#pRpaDados{
    text-align: left;
    font-size: 12px;
    padding: 3px 3px 3px 7px;
    margin: 0px;
}

p#pRpaDadosContribuinte{
    text-align: left;
    font-size: 12px;
    padding: 0px 0px 0px 7px;
    margin: 0px;
}

p#pRpaDadosCentro{
    text-align: center;
    font-size: 12px;
    padding: 3px;
    margin: 0px;
}

p#pRpaValorLiquido{ 
    text-align: right;
    font-size: 12px;
    padding: 3px;
    margin: 0px;
}

table.tabelaRpa{
    border-collapse: separate;
    border-spacing: 0pt;
    border-color: #007095;    
    font-size: 12px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

table.tabelaRpa tr, table.tabelaRpa td, table.tabelaRpa th{
    padding: 0px 5px 0px 5px;
    margin: 0px;
}

table.tabelaRpa th{
    text-align: center;
    font-weight: normal;
    font-size: 10px;
}

p#pRpa{
    text-align: justify;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
}

tr#trRpaBlue{
    color: blue;
}

tr#trRpaRed{
    color: red;
}

/*******************************************
* CI
*******************************************/

p#pCiDePara1{
    text-align: left;
    font-size: 14px;
    line-height: 1.0;
    font-family: Arial, Helvetica, sans-serif;
}

p#pCiDePara2{
    text-align: left;
    font-size: 14px;
    line-height: 1.0;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2.5em;
}

p#pCi{
    text-align: justify;
    font-size: 14px;
    line-height: 2.0;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 3em;
}

p#pCiNum{
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p#pCiData{
    text-align: right;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p#pCiAssinatura{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p#pCiRodape{
    text-align: center;
    font-size: 11px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************************
* Folha de Presença
*******************************************/

table#tableFolhaPresenca {
    border: 1px solid black;
    color: #000000;
    border-collapse:collapse;
    width: 100%;
}

table#tableFolhaPresenca th{
    color: #000000;
    font-size: 14px;
    text-align: center;
    border: 2px solid black;
    height: 20px;
}

table#tableFolhaPresenca td{
    color: #000000;
    font-size: 12px;
    text-align: center;
    border: 2px solid black;
    height: 20px;
}

table#tableFolhaPresenca2 td{
    color: #000000;
    font-size: 12px;
    text-align: center;
    height: 20px;
}

p#pFolhaPresencaRodape{
    color: #000000;
    text-align: left;
    font-size: 10px;
}

/*******************************************
* relatório de Balcao
*******************************************/

table#tableRelatorioBalcao {
    border: 1px solid black;
    color: #000000;
    border-collapse:collapse;
    width: 100%;
}

table#tableRelatorioBalcao caption{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 20px;
    padding-top: 20px;
}

table#tableRelatorioBalcao th{
    color: #000000;
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
}

table#tableRelatorioBalcao td{
    color: #000000;
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
}

/*******************************************
* Ficha de avaliação Funcional
*******************************************/

p#fichaAvaliacaoLabel{
    font-size: 11px;
    padding: 2px;
    margin: 0px;
}

p#fichaAvaliacaoCampo{
    font-size: 14px;
    padding: 2px;
    margin: 0px;
}

table#faf1{
    width: 100%;
    border: 2px solid black;
}

table#faf2{
    width: 100%;
    border: 2px solid black;
}

table#faf1 th{
    text-align: center;
    border: 2px solid black;
    font-size: 12px;
}

table#faf1 td{
    text-align: left;
    border: 2px solid black;
    font-size: 12px;
}

table#faf2 td{
    text-align: center;
    border: 2px solid black;
    font-size: 12px;
}
